**/bin/
**/obj/
test-output
docs
helm
Dockerfile
docker-compose*
Jenkinsfile
README.md
LICENCE
npm-debug.log
.dockerignore
.secrets.baseline
.snyk
.pre-commit-config.yaml
jsconfig.json
.vs
.vscode
.gitignore
sonar-project.properties
